header{
	width:100%;
	height: 45px;
	line-height: 45px;
	font-size: 1.8rem;
	color: white;
	text-align: center;
	background:#00b38a;
}
header .back{
	margin-left: 1rem;
	float: left;
	font-size: 1.8rem;
	color: white
}
header .home{
	margin-right: 1rem;
	font-style: normal;
	float: right;
	font-size: 1.8rem;
	color: white;
	 width: 22px;
    height: 30px;
    margin: 13px 13px 0 auto;
    background: url(../bg-img/icon.png) no-repeat -32px -1.5px;
    background-size: 250px 250px;
    display: inline-block;
}

header .hidden{
	display: none;
}
